@mixin title {
  font-family: 'CC Wild Words';
  font-style: italic;
  font-weight: 400;
  color: black;
  // font-size: 24px;
  // line-height: 120%;
  // /* or 29px */
  // text-decoration-line: underline;
}
@mixin modal-title {
  font-weight: 700;
  color: $contur-dark-purple;
}
@mixin form-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}