//colors

/*bg*/

$white-translucent: rgba(255, 255, 255, 0.4);
$white-light-translucent: rgba(255, 255, 255, 0.8);
$white: rgba(255, 255, 255, 1);

/*project-colors*/

$il-des_light-blue: #AAC8C8;
$il-des_dark-blue: #247095;

$pa-gr_light-pink: #C389C9;
$pa-gr_dark-pink: #713349;

$ta-sk-le_light-brown: #B58071;
$ta-sk-le_dark-brown: #804B3A;

/*element-colors*/

$contur-dark-purple: #311F2D;
$accent-pink: #E3D2D8;
